li a {
    color: green;
}
body {
    background:bisque url("images/background.png") no-repeat;
    background-image: url("images/background.png");
    background-color: bisque;
}
p{
    color: brown;
}